<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{:: main})}">
	
	<!-- <body>
	<main>
	<h1>chi tiet</h1>
		<h1>[[${item.name}]]</h1>
		
		<h1>cung loai</h1>
			<h1>[[${item.category.name}]]</h1>
	
	
	<ul>
	<li th:each="p:${item.category.products}">
	<a th:href="@{|/product/detail/${p.id}|}">[[${p.name}]]</a>
	</li>
	</ul>
	</main>
	</body> -->
	

<body>
	<main th:object="${item}" class="poly-item-detail">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">Chi tiet mat hang</div>
				<div class="panel-body text-center">
					<img alt="is nothing in here :v"
						th:src="@{|/assets/images/*{image}|}">
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-body">
					<ul>
						<li th:text="*{name}" />
						<li th:text="*{price}" />
						<li th:text="*{createDate}" />
						<li th:text="*{category.name}" />
					</ul>
				</div>
				<div class="panel-footer text-right">
					<button class="btn btn-success"><i class="glyphicon glyphicon-shopping-cart"></i></button>
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">Hang Cung Loai</div>
				<div class="panel-body">
					<ul>
						<li th:each="p:*{category.products}"><a
							th:href="@{|/product/detail/${p.id}|}" th:text="${p.name}"></a></li>
					</ul>
				</div>
			</div> 
		</div>
	</main>
</body> 
</html>